* {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro';
    box-sizing: border-box;
}

@keyframes blink {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
}

body {
    background: hsla(204, 93%, 12%, 1);
    background: linear-gradient(135deg, hsla(204, 93%, 12%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);
    background: -moz-linear-gradient(135deg, hsla(204, 93%, 12%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);
    background: -webkit-linear-gradient(135deg, hsla(204, 93%, 12%, 1) 0%, hsla(286, 44%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#022339", endColorstr="#9946B2", GradientType=1 );
    background-attachment: fixed;
    color: white;
}

.container {
    width: 90%;
    margin: 10% auto;
    max-width: 800px;
}

#copy-icon {
    width: 1.5em;
    cursor: pointer;
}

.password-field {
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0.75em;
    margin-top: 2em;
    margin-bottom: 0.5em;
    border-radius: 5px;
    background-color: #fff;
}

#password-input {
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 1.5rem;
}

.password-btn {
    background-color: #019f55;
    color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.password-header {
    width: 90%;
    letter-spacing: 0.3em;
}

.password-header h1 {
    font-size: 3rem;
    font-weight: 500;
}

.password-title {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1em;
    letter-spacing: 0.2em;
}

.password-title img {
    height: 3em;
    width: 3em;
    margin-right: 1em;
}

.password-subtitle {
    font-size: 1.2em;
}

.text-green {
    color: #64f0af;
    font-weight: 700;
    font-size: larger;
}

.blink {
    font-weight: 300;
    animation: blink 1s infinite;
}

.password-info {
    margin-bottom: 2em;
    letter-spacing: 0.1em;
    font-size: 1.2rem;
}

.password-info span {
    font-weight: 700;
    font-size: 1.3rem;
}

.password-info #danger {
    color: rgb(255, 77, 0);
}

.password-info #warn {
    color: yellow;
}

.password-info #good {
    color: lightgreen;
}

.password-btn:hover, .password-btn:focus {
    background-color: #117b49;
}

.password-btn img {
    width: 1em;
    margin-right: 0.5em;
}

.password-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45%;
}

.password-slider span {
    margin-left: 0.5em;
}

.password-slider input {
    width: 85%;
    opacity: 0.8;
    cursor: pointer;
}

.password-slider input:hover, .password-slider input:focus {
    opacity: 1;
}

.password-slider span {
    font-size: 1.6rem;
    font-weight: 300;
}

.password-action {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .password-header {
        width: 100%;
    }
    .password-title {
        flex-direction: column;
        align-items: center;
    }
    .password-header h1, p {
        text-align: center;
    }
    .password-header h1 {
        margin: 0.75em 0;
    }
    .password-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .password-action {
        flex-direction: column;
    }
    .password-slider {
        margin-bottom: 2em;
        width: 100%;
    }
    .password-field {
        width: 90%;
    }
    .password-btn {
        justify-content: center;
    }
    .password-action {
        width: 90%;
    }
}

@media (max-width: 349px) {
    .password-info {
        text-align: center;
    }
}